.recentPost {
    background-color: rgb(62, 64, 57);
    height: 708px;
    overflow-y: scroll;
}

.page {
    border: 0cm;
    margin-bottom: 10px;
    box-shadow: 2px 2px 50px rgb(147, 141, 141);
    border-radius: 70px;
}